/* propertyCard (Component) */
.propertyCard {
  background: #fff;
  margin: 0 0 20px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}

.propertyCard:hover {
  /* box-shadow: 0 2px 4px rgba(#000, 0.2), 0 4px 8px rgba(#000, 0.2); */
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.propertyCard:active {
  box-shadow: none;
  transform-origin: center;
  border: 1px solid #cccccc;
  transform: scale(0.98);
}

.propertyCard__category {
  display: inline-block;
  /* background: #212121; */
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.propertyCard__date {
  font-size: 0.5rem;
}

.propertyCard__address {
  color: #666;
  line-height: 1.5rem;
  font-size: 0.875rem;
}

.propertyCard__details {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.propertyCard__snapshot {
}

.propertyCard__property-stats {
  font-size: 0.75rem;
}

.propertyCard-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'stats stats'
    'links links';
  grid-gap: 1rem;
}

.propertyCard-top {
  /* grid-area: top; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  justify-content: space-between;
}

.propertyCard__submarket {
  margin-top: 10px;
  font-size: 1.25rem;
  color: var(--primary-color);
}
